{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="notloggedin" class="hidethis">
    <span id="a">You haven't logged in yet! Please login or Sign Up!</span>
</div>

<div id="logout" class="btn-group hidethis">
    <a id="saveprof" class="btn btn-success">Save Profile</a>
    <a id="cancel" class="btn btn-danger">cancel</a>
    <a id="logoutbtn" class="btn btn-primary">Log Out</a>
</div>

<div id="userInfo" class="hidethis">
    <div id="home">
        <div id="profile" class="hidethis">
            <img src="http://oi63.tinypic.com/2lmt1zq.jpg" id="editprofilepic">
            <input type="file" id="fileBrowser" style="visibility:hidden; display:none;" />
        </div>

        <table>
            <tr>
                <td>
                    <p id="biolabel">My Bio</p>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="inputbio" class="form-control no-menu" style="display: none;" spellcheck="true"></textarea>
                    <p id="editbio"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="courselabel"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <a id="delete" class="btn btn-danger" style="display: none;">Delete</a>
                    <a id="add" class="btn btn-success" style="display: none;">Add</a>
                    <textarea class="form-control no-menu" id="inputcourses" style="display: none;" placeholder="Add a Course i.e. CMPS115 CMPS101"></textarea>
                    <textarea class="form-control no-menu" id="deletecourses" style="display: none;" placeholder="Enter the classes you want to delete in a space separated list"></textarea>
                    <table id="coursetable">
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">
    // Initialize parse for use.
    Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");
    // get the current user on parse.
    var currUser = Parse.User.current();

    function isHidden(el) {
        var style = window.getComputedStyle(el);
        return (style.display === 'none')
    }

    // if user is not logged in, hide the profile elements and show a text. Then redirect back to home after 3 seconds
    if(currUser == null){
        $("#notloggedin").addClass("hidethis");
        $("#profile").removeClass("hidethis");
        $("#userInfo").addClass("hidethis");
        $("#logout").addClass("hidethis");
        setTimeout(function(){
            document.location.href = "{{=URL('default', 'index')}}"
        }, 3000);
    }
    else { // if user is logged in, then show the profile.
        // .fetch({}) is used to get the most current data available on parse.
        currUser.fetch({
            success: function (currUser) {
                // populate the courses
                window.onload = populateCourses();
                $("#notloggedin").addClass("hidethis");
                $("#profile").removeClass("hidethis");
                $("#userInfo").removeClass("hidethis");
                $("#logout").removeClass("hidethis");

                // function for if a user is inactive.
                var inactivityTime = function () {
                    var t;
                    window.onload = resetTimer;
                    document.onmousemove = resetTimer;
                    document.onkeypress = resetTimer;

                    // logout function for inactivity
                    function logout() {
                        alert("Your Session has Timed Out!");
                        Parse.User.logOut();
                        document.location.href = "{{=URL('default', 'index')}}";
                    }

                    function resetTimer() {
                        clearTimeout(t);
                        t = setTimeout(logout, 3600000);
                    }
                };
                inactivityTime();

                // gets the courses from the current user's table and sorts them into alphabetical order.
                // then displays them vertically in a table.
                function populateCourses(){
                   var courses = currUser.get("webCourses").sort();
                   for(var i = 0; i < courses.length; i++){
                       var table = $("#coursetable");
                       table.append('<tr><td id="course">'+ courses[i]+'</td></tr>');
                   }
                }

                // default bio text
                $("#inputbio").val("No Description");

                // get the bio from the user's table if it is not null or empty.
                if(currUser.get("bio") || currUser.get("bio") !== "" || currUser.get("bio") != null){
                    $("#editbio")[0].innerHTML = currUser.get("bio");
                    $("#inputbio").val(currUser.get("bio"));
                }
                else{ // if empty set to default text
                    $("#editbio")[0].innerHTML = "No Description";
                    $("#inputbio").val("No Description");
                }

                // get the courses from the user's table and display them inside the text box with spaces
                // instead of commas.
                if(currUser.get("webCourses")){
                    var courseArray = currUser.get("webCourses");
                    $("#inputcourses").val(courseArray.toString().replace(/[, ]+/g, " ").trim());
                }

                // when coursetable is clicked, hideitself and show the delete and add buttons
                $("#coursetable").click(function(e){
                    $("#coursetable").slideToggle();
                    $("#delete").slideToggle();
                    $("#add").slideToggle();
                });

                // when add is clicked, remove the delete button and show the inputcourses text box.
                $("#add").click(function(e){
                    $("#add").slideToggle();
                    $("#inputcourses").slideToggle();
                    $("#delete").remove();
                });

                // when delete is clicked remove the add button and show the list of courses
                // along with the deletecourses textbox.
                $("#delete").click(function(e){
                    $("#delete").slideToggle();
                    $("#deletecourses").slideToggle();
                    $("#coursetable").slideToggle();
                    $("#add").remove();
                });

                // when editbio is clicked hide itself and show the inputbio textbox.
                $("#editbio").click(function(e){
                    $("#editbio").slideToggle();
                    $("#inputbio").slideToggle();
                });

                // logout button for logging out.
                $("#logoutbtn").click(function (e) {
                    Parse.User.logOut();
                    document.location.href = "{{=URL('default', 'index')}}";
                });

                // when profile picture is clicked, it opens the filebrowser
                $("#editprofilepic").click(function (e) {
                    document.getElementById('fileBrowser').click();
                });

                // when filebrowser is selected by clicking on the profile picture
                // run readURL
                $("#fileBrowser").change(function (e) {
                    readURL(this);
                });

                // replaces the old image with the new selected image.
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#editprofilepic').attr('src', e.target.result);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                // when the save button is pressed execute this.
                $("#saveprof").click(function (e) {
                    // take the list from the inputcourses text into an array
                    // and take the list from the deletecourses text into an array.
                    var courseArray = $("#inputcourses").val().toUpperCase().split(/\s+/);
                    var delcourseArray = $("#deletecourses").val().toUpperCase().split(/\s+/);

                    // check to see if a new picture has been selected.
                    var fileUploadControl = $("#fileBrowser")[0];
                    if (fileUploadControl.files.length > 0) { // if a new picture has been selected
                        var file = fileUploadControl.files[0];
                        var name = "ProfilePic.jpg";

                        // make a new parsefile
                        var parseFile = new Parse.File(name, file);

                        // save the parsefile/new picture
                        parseFile.save().then(function () {
                            // set the bio to be the new bio
                            currUser.set("bio", $("#inputbio").val());
                            // set the profilepic to be the newly selected image.
                            currUser.set("ProfilePic", parseFile);
                            // if the add button exists, then add the courses inputted into the user's table.
                            if($("#add").length){
                                for(var i = 0; i < courseArray.length; i++){
                                    // addUnique is a function from parse that adds only if the array does not contain
                                    // that same object (string, bool, etc) already, to the array
                                    currUser.addUnique("webCourses", courseArray[i]);
                                }
                            }
                            else if($("#delete").length){ // else if the delete button exists
                                for(var j = 0; j < delcourseArray.length; j++){
                                    // remove() is a parse function that removes the objects (string, bool, etc) specified.
                                    currUser.remove("webCourses", delcourseArray[j]);
                                }
                            }

                            // save the user's info
                            currUser.save(null, {
                                success: function (currUser) {
                                    // on success redirect to home
                                    document.location.href = "{{=URL('default', 'index')}}";
                                },
                                error: function (user, error) {
                                    // Show the error message somewhere and let the user try again.
                                    alert("Error: " + error.code + " " + error.message);
                                }
                            });
                        }, function (error) {
                            // The file either could not be read, or could not be saved to Parse.
                            alert("Error: " + error.code + " " + error.message);
                        });
                    }
                    // else if a new picture has not been selected, then ignore saving a new profile pic.
                    else if (fileUploadControl.files.length <= 0) {
                        // set the new bio
                        currUser.set("bio", $("#inputbio").val());
                        // if the add button exists, then add the courses inputted into the user's table.
                        if($("#add").length){
                            for(var i = 0; i < courseArray.length; i++){
                                // addUnique is a function from parse that adds only if the array does not contain
                                // that same object (string, bool, etc) already, to the array
                                currUser.addUnique("webCourses", courseArray[i]);
                            }
                        }
                        else if($("#delete").length){ // else if the delete button exists
                            for(var j = 0; j < delcourseArray.length; j++){
                                // remove() is a parse function that removes the objects (string, bool, etc) specified.
                                currUser.remove("webCourses", delcourseArray[j]);
                            }
                        }
                        // save the user's info
                        currUser.save(null, {
                            success: function (currUser) {
                                // on success redirect the user to the home page.
                                document.location.href = "{{=URL('default', 'index')}}";
                            },
                            error: function (user, error) {
                                // Show the error message somewhere and let the user try again.
                                alert("Error: " + error.code + " " + error.message);
                            }
                        });
                    }
                });

                // get the current user's profile picture and display it
                var profilepic = currUser.get("ProfilePic");
                $("#editprofilepic")[0].src = profilepic.url();

                // get the current users's bio and display it
                if(currUser.get("bio") === "" || !currUser.get("bio")){// if empty then display "No Description"
                    $("#editbio")[0].innerHTML = "No Description";
                }
                else{// else display the bio
                    $("#editbio")[0].innerHTML = currUser.get("bio");
                }

                 // if the current user is a tutor, then change the label for courses to the correct label.
                if (currUser.get("isTutor")) {
                    $("#courselabel")[0].innerHTML = "Courses I Can Tutor";
                }
                else {
                    $("#courselabel")[0].innerHTML = "Courses I Want a Tutor For";
                }

                // when cancel button is pressed, the saves are discarded and redirected back to the home page.
                $("#cancel").click(function (e) {
                    document.location.href = "{{=URL('default', 'index')}}";
                });
            },
            error: function (error) {
                // if parse could not update the user's info correctly.
                alert("Error: " + error.code + " " + error.message);
            }
        });
    }
</script>