{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="logout" class="btn-group">
    <a id="searchTutor" class="btn btn-primary hidethis"><i class="fa fa-search"></i></a>
    <a id="message" class="btn btn-primary">Messages</a>
    <a id="editprof" class="btn btn-primary">Edit Profile</a>
    <a id="logoutbtn" class="btn btn-primary">Log Out</a>
</div>

<div id="userInfo" class="hidethis">
    <div id="home">
        <div id="profile" class="hidethis">
            <img src="http://oi63.tinypic.com/2lmt1zq.jpg" id="profilepic">
            <input type="file" id="fileBrowser" style="visibility:hidden; display:none;" />
        </div>

        <table>
            <tr>
                <td>
                    <p id="name"></p>
                    <p id="username"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="biolabel">My Bio</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="bio"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="courselabel"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="coursetable">
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<form id="form_login" class="col-xs-4 hidethis">
    <div>
        <input class="form-control" type="text" id="usernamefield" placeholder="username">
    </div>
    <br>
    <div>
        <input class="form-control" type="password" id="password" placeholder="password" />
    </div>
    <br>
    <div>
        <a id="loginbtn" class="btn btn-primary form-control" type="button">Login</a>
    </div>
    <br>
    <div id="signupbtns" class="btn-group">
        <a id="tutorsignup" class="btn btn-primary form-control" type="button">Sign Up As Tutor</a>
        <a id="studentsignup" class="btn btn-primary form-control" type="button">Sign Up As Student</a>
    </div>
</form>

<script type="text/javascript">
    // initialize parse for use.
    Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");

    // attempt to login.
    function login(){
        Parse.User.logIn($("#usernamefield").val(), $("#password").val(), {
            success: function(user) {
                // redirect after successful login.
                document.location.href = "{{=URL('default', 'index')}}";
            },
            error: function(user, error) {
                // The login failed. Check error to see why.
                console.log(error.message);
                alert("Password and Username Do No Match");
            }
        });
    }

    // set the current user
    var currUser = Parse.User.current();

    // check to see if a user is inactive or not. after 1 hour log them out.
    var inactivityTime = function () {
        var t;
        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;

        function logout() {
            alert("Your Session has Timed Out!");
            Parse.User.logOut();
            document.location.href = "{{=URL('default', 'index')}}";
        }

        function resetTimer() {
            clearTimeout(t);
            t = setTimeout(logout, 3600000);
        }
    };

    // if the current use is logged in...
    if(currUser){
        // get the latest data. (fetch() is a function that gets the lastest data from parse.)
        currUser.fetch({
           success: function(currUser){
               // populate the courses
               window.onload = populateCourses();

               // get the current user's id
               var currUserId = currUser.id;
               $.ajax('{{=URL('default', 'index')}}', {
                   data: {'currUserId': currUserId,
                          'isTutor': currUser.get("isTutor")},
                   dataType: "text",
                   success: successFunc,
                   error: errorFunc
               });
               function successFunc(data, status){
                   console.log("Success! User ID = " + currUserId);
               }

               function errorFunc() {
                   alert('error');
               }

               inactivityTime();

               // gets the courses from the current user's table and sorts them into alphabetical order.
                // then displays them vertically in a table.
               function populateCourses(){
                   var courses = currUser.get("webCourses").sort();
                   if(courses){
                       for(var i = 0; i < courses.length; i++){
                           var table = $("#coursetable");
                           table.append('<tr><td id="coursed">'+ courses[i]+'</td></tr>');
                       }
                   }
               }

               // if the user is a tutor, then hide and remove the search button
               if(currUser.get("isTutor")){
                   $("#searchTutor").addClass("hidethis");
                   $("#searchTutor").remove();
               }
               else{ // display the search button
                   $("#searchTutor").removeClass("hidethis")
               }

               // because at this point the user is already logged in, the login form needs to be hidden
               // and the profile needs to be displayed.
               $("#form_login").addClass("hidethis");
               $("#profile").removeClass("hidethis");
               $("#userInfo").removeClass("hidethis");

               // when logout button is pressed, log the user out.
               $("#logoutbtn").click(function(e){
                    Parse.User.logOut();
                    document.location.href = "{{=URL('default', 'index')}}";
               });

               // when Edit Profile button is pressed redirect to the edit profile page.
               $("#editprof").click(function(e){
                    document.location.href = "{{=URL('default', 'editprof')}}";
               });

               // When search button is pressed, take them to search page.
               $("#searchTutor").click(function(e){
                   document.location.href = "{{=URL('default', 'search')}}";
               });

               // when message button pressed take them to messaging page.
               $("#message").click(function(e){
                    document.location.href = "{{=URL('default', 'messaging')}}/" + currUserId + "/" + currUser.get("isTutor");
               });

               // get the current user's profile picture and display it
               var profilepic = currUser.get("ProfilePic");
               $("#profilepic")[0].src = profilepic.url();

               // get the first and last name of the user and concat them together and display it.
               var fname = currUser.get("FirstName");
               var lname = currUser.get("LastName");
               $("#name")[0].innerHTML = fname+" "+lname;

               // get the username and display it
               $("#username")[0].innerHTML = " @"+currUser.get("username");

               // get the current users's bio and display it
               if(currUser.get("bio") === "" || !currUser.get("bio")){// if empty then display "No Description"
                   $("#bio")[0].innerHTML = "No Description";
               }
               else{// else display the bio
                   $("#bio")[0].innerHTML = currUser.get("bio");
               }

               // if the current user is a tutor, then change the label for courses to the correct label.
               if(currUser.get("isTutor")){
                   $("#courselabel")[0].innerHTML = "Courses I Can Tutor";
               }
               else{
                   $("#courselabel")[0].innerHTML = "Courses I Want a Tutor For";
               }
           },
            error: function(error){
                // if parse could not update the user's info correctly.
                alert("Error: " + error.code + " " + error.message);
            }
        });
    }
    else{ // if no user has logged in yet.
        // when enter key is pressed then perform the login() function.
        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13) {
                login();
            }
        };

        // display the login page.
        $("#profile").addClass("hidethis");
        $("#userInfo").addClass("hidethis");
        $("#logout").addClass("hidethis");
        $("#form_login").removeClass("hidethis");
        $("#loginbtn").click(function(e){
            login();
        });

        // redirect to tutor sign up flow.
        $("#tutorsignup").click(function(e){
            document.location.href = "{{=URL('default', 'tutorsignup')}}";
        });

        // redirect to student sign up flow.
        $("#studentsignup").click(function(e){
            document.location.href = "{{=URL('default', 'studentsignup')}}";
        });
    }
</script>