{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="logout" class="btn-group">
    <a id="searchTutor" class="btn btn-primary">Search For Tutors</a>
    <a id="message" class="btn btn-primary">Messages</a>
    <a id="editprof" class="btn btn-primary">Edit Profile</a>
    <a id="logoutbtn" class="btn btn-primary">Log Out</a>
</div>

<div id="profile">
    <img src="" id="profilepic">
    <input type="file" id="fileBrowser" style="visibility:hidden; display:none;" />
</div>
<div id="userInfo">
    <table id="home">
        <tr>
            <td>
                <p id="name"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="username"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="biolabel">Description</p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="bio"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="courselabel"></p>
            </td>
        </tr>
        <tr>
            <td>
                <table id="coursetable">
                </table>
            </td>
        </tr>
    </table>
</div>

<form id="form_login" class="col-xs-4">
    <div>
        <input class="form-control" type="text" id="usernamefield" placeholder="username">
    </div>
    <br>
    <div>
        <input class="form-control" type="password" id="password" placeholder="password" />
    </div>
    <br>
    <div>
        <a id="loginbtn" class="btn btn-primary form-control" type="button">Login</a>
    </div>
    <br>
    <div id="signupbtns" class="btn-group">
        <a id="tutorsignup" class="btn btn-primary form-control" type="button">Sign Up As Tutor</a>
        <a id="studentsignup" class="btn btn-primary form-control" type="button">Sign Up As Student</a>
    </div>
</form>

<script type="text/javascript">
    Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");

    function login(){
        Parse.User.logIn($("#usernamefield").val(), $("#password").val(), {
            success: function(user) {
                // Do stuff after successful login.
                document.location.href = "/WebUcscTutor/default/index/" + user.id;
            },
            error: function(user, error) {
                // The login failed. Check error to see why.
                console.log(error.message);
                alert("Password and Username Do No Match");
            }
        });
    }

    var currUser = Parse.User.current();

    var inactivityTime = function () {
        var t;
        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;

        function logout() {
            alert("Your Session has Timed Out!");
            Parse.User.logOut();
            document.location.href = "/WebUcscTutor/default/index";
        }

        function resetTimer() {
            clearTimeout(t);
            t = setTimeout(logout, 3600000);
        }
    };

    if(currUser){
        currUser.fetch({
           success: function(currUser){
               window.onload = populateCourses();

               var currUserId = currUser.id;

               $.ajax('{{=URL('default', 'index')}}', {
                   data: {'currUserId': currUserId},
                   dataType: "text",
                   success: successFunc,
                   error: errorFunc
               });
               function successFunc(data, status){
                   console.log("Success! User ID = " + currUserId);
               }
        
               function errorFunc() {
                   alert('error');
               }
               inactivityTime();

               function populateCourses(){
                   var courses = currUser.get("webCourses");
                   if(courses){
                       for(var i = 0; i < courses.length; i++){
                           var table = $("#coursetable");
                           table.append('<tr><td>'+ courses[i]+'</td></tr>');
                       }
                   }

               }


               if(currUser.get("isTutor")){
                   $("#searchTutor").hide();
               }
        
               $("#form_login").hide();
               $("#profile").show();
               $("#userInfo").show();
        
               $("#logoutbtn").click(function(e){
                   Parse.User.logOut();
                   document.location.href = "/WebUcscTutor/default/index";
               });
        
               $("#editprof").click(function(e){
                   document.location.href = "/WebUcscTutor/default/editprof";
               });
        
                $("#searchTutor").click(function(e){
                   document.location.href = "/WebUcscTutor/default/name_list";
                });
        
               $("#message").click(function(e){
                   document.location.href = "/WebUcscTutor/default/messaging" + "/" + currUserId;
               });

               var profilepic = currUser.get("ProfilePic");
               console.log(profilepic);
               $("#profilepic")[0].src = profilepic.url();
               var fname = currUser.get("FirstName");
               var lname = currUser.get("LastName");
               $("#name")[0].innerHTML = fname+" "+lname;
               $("#username")[0].innerHTML = currUser.get("username");
               if(currUser.get("bio") === "" || !currUser.get("bio")){
                   $("#bio")[0].innerHTML = "No Description";
               }
               else{
                   $("#bio")[0].innerHTML = currUser.get("bio");
               }
               if(currUser.get("isTutor")){
                   $("#courselabel")[0].innerHTML = "Courses I Can Tutor";
               }
               else{
                   $("#courselabel")[0].innerHTML = "Courses I Want a Tutor For";
               }
           },
            error: function(error){
                alert("Error: " + error.code + " " + error.message);
            }
        });
    }
    else{
        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13) {
                login();
            }
        };

        $("#profile").hide();
        $("#userInfo").hide();
        $("#logout").hide();
        $("#form_login").show();
        $("#loginbtn").click(function(e){
            login();
        });

        $("#tutorsignup").click(function(e){
            document.location.href = "/WebUcscTutor/default/tutorsignup";
        });
        $("#studentsignup").click(function(e){
            document.location.href = "/WebUcscTutor/default/studentsignup";
        });
    }
</script>