{{extend 'layout.html'}}

<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<html>
<div id="logout" class="btn-group">
    <a id="searchTutor" class="btn btn-primary">Search For Tutors</a>
    <a id="prof" class="btn btn-primary">Profile</a>
    <a id="logoutbtn" class="btn btn-primary">Log Out</a>
</div>
<head>
    <body>
        <table id="names">
            <tr>
                <th>Tutor Name</th>
                <th>Courses To Tutor</th>
                <th>Review</th>
                <th>Availability</th>
            </tr>
            {{for user in users.get("results"):}}
                <tr class="clickable">
                    <td id="tutorName">
                        {{=A(user.get("FirstName") + " " + user.get("LastName"),
                             _href=URL('default', 'message_user',
                                       args=[user.get("FirstName")+" "+user.get("LastName"),
                                             user.get("username"),
                                             curr_user_id,
                                             user.get("objectId")]))}}
                    </td>
                    <td id="course"></td>
                    <td id="review"></td>
                    <td id="schedule"></td>
                </tr>
            {{pass}}
        </table>
    </body>
</head>

</html>
        
<script type="text/javascript">
    $("#prof").click(function(e){
        document.location.href = "/WebUcscTutor/default/index";
    });

    $("#searchTutor").click(function(e){
        document.location.href = "/WebUcscTutor/default/name_list";
    });

    $("#logoutbtn").click(function(e){
        Parse.User.current().logOut();
        document.location.href = "/WebUcscTutor/default/index";
    });
</script>