{{extend 'layout.html'}}
<head xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<html>
    <body>
        <script src="{{=URL('static', 'js/pubnub-3.7.18.min.js')}}"></script>
    </body>
</html>

<div id="target"></div>

<script id="template" type="text/ractive">
    <div id="logout" class="btn-group">
        <a id="searchTutor" class="btn btn-primary"></a>
        <a id="prof" class="btn btn-primary">Profile</a>
        <a id="logoutbtn" class="btn btn-primary">Log Out</a>
    </div>

    <div id="message_list">
        {% #if loading %}
            <div id="load_spinner">
                <i class="fa fa-spinner fa-pulse fa-4x"></i>
            </div>
        {% /if %}

        {% #msg_list %}
            <div id="message-container">
                <div id="message-date">
                    {% timestamp %}
                </div>
                <div id="message-username">
                    {% senderName %}
                </div>
                <div id="message">
                    {% messageText %}
                </div>
            </div>
        {% /msg_list %}
    </div>

    <div id="input-area" class="row">
        <div id="send-message" class="input-group">
            <input id="message-input" type="text" class="form-control no-menu" maxlength="" aria-label="Message input"  spellcheck="true">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="send-message-btn" type="button">Send</button>
            </span>
        </div>
    </div>
</script>


<script type="text/javascript">
    $(function() {
        Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");

        // get data for current user
        var currUser = Parse.User.current();
        var currUserFirstName = currUser.get("FirstName");
        var currUserLastName = currUser.get("LastName");
        var currUserFullName = currUserFirstName + " " + currUserLastName;

        // Query for the other user's data
        // This is used when determining whether or not to add user to your contacts list
        var Users = Parse.Object.extend("User");
        var queryOtherUser = new Parse.Query(Users);
        var recipientFirstName;
        var recipientLastName;
        var recipientUsername;
        queryOtherUser.equalTo("objectId", '{{=recipient_id}}');
        queryOtherUser.find({
            success: function(results) {
                console.log("Successfully retrieved " + results.length + " users.");
                // Do something with the returned Parse.Object values
                for (var i = 0; i < results.length; i++) {
                    var object = results[i];
                    recipientFirstName = object.get("FirstName");
                    recipientLastName = object.get("LastName");
                    recipientUsername = object.get("username");
                }
            },
            error: function(error) {
                console.log("Error: " + error.code + " " + error.message);
            }
        });

        // Ractive object
        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                msg_list: [],
                loading: true
            }
        });

        /*
         * Sorts results, scrolls to the bottom of the message list synchronously using Promises
         */
        var sortItems = function(data) {
            return new Promise(function(resolve, reject) {
                data['results'].sort(function(a, b) {
                    return a.createdAt < b.createdAt ? - 1 : 1;
                });
                var promise2 = MAIN.set('msg_list', data["results"]);
                promise2.then(scrollBottom());
            });
        };


        /*
         * Scrolls to the bottom of the div containing the messages
         */
        function scrollBottom(){
            MAIN.nodes.message_list.scrollTop = MAIN.nodes.message_list.scrollHeight - MAIN.nodes.message_list.clientHeight
        }


        /*
         * Loads messages using ajax + Parse.com's REST API
         * Called every 10 seconds
         * Does not send messages
         */
        function loadMessages(){
            var userlist = ['{{=curr_user_id}}', '{{=recipient_id}}'];

            // Parameters for query
            var obj = {
                "senderId": {
                    "$in": userlist
                 },
                "recipientId": {
                     "$in": userlist
                }
            };

            // Query we'd like to execute
            // What it's saying:
            //    Find all ParseMessage objects where the current user is
            //    either the sender or the recipient, and where the other user
            //    is either the sender or the recipient
            var query = encodeURIComponent('where='+ JSON.stringify(obj));
            $.ajax({
                type: "GET",
                url: "https://api.parse.com/1/classes/ParseMessage?" + query,
                data: {limit: 40, order: "-createdAt"},
                dataType: "json",
                headers: {
                    "X-Parse-Application-Id": "sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO",
                    "X-Parse-REST-API-Key": "4udDwLuCkvJLR09ypSp1xsgKKVwBDmncRSRBd24K"
                },
                success : function(data) {
                    var promise1 = sortItems(data);
                    MAIN.set('loading', false);
                },
                error : function(data) {
                    console.log('error, data = ' + data);
                }
            });
        }

        /*
         * Sets contacts list using ajax + Parse.com's REST API
         * Called from PubNub's publish() function
         * Does not send messages
         */
        function setContactsLiist(){
            var userlist = ['{{=curr_user_id}}', '{{=recipient_id}}'];

            // Parameters for query
            var obj = {
                "senderId": {
                    "$in": userlist
                 },
                "recipientId": {
                     "$in": userlist
                }
            };

            // Query we'd like to execute
            // What it's saying:
            //    Find all ParseMessage objects where the current user is
            //    either the sender or the recipient, and where the other user
            //    is either the sender or the recipient
            var query = encodeURIComponent('where='+ JSON.stringify(obj));
            $.ajax({
                type: "GET",
                url: "https://api.parse.com/1/classes/ParseMessage?" + query,
                data: {limit: 40, order: "-createdAt"},
                dataType: "json",
                headers: {
                    "X-Parse-Application-Id": "sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO",
                    "X-Parse-REST-API-Key": "4udDwLuCkvJLR09ypSp1xsgKKVwBDmncRSRBd24K"
                },
                success : function(data) {
                    var promise1 = sortItems(data);
                    MAIN.set('loading', false);
                    // if there are no messages between the two users
                    //    Add the two users to each other's contacts lists
                    if (data["results"].length <= 0){
                        var ContactsMetaData = Parse.Object.extend("ContactsMetaData");
                        var contactsMetaData = new ContactsMetaData;
                        if (currUser.get("isTutor")) {
                            // send tutor info
                            contactsMetaData.set("tutorId", currUser.id);
                            contactsMetaData.set("tutorFirstName", currUser.get("FirstName"));
                            contactsMetaData.set("tutorLastName", currUser.get("LastName"));
                            contactsMetaData.set("tutorUsername", currUser.get("username"));

                            // send student info
                            contactsMetaData.set("studentId", userlist[1]);
                            contactsMetaData.set("studentFirstName", recipientFirstName);
                            contactsMetaData.set("studentLastName", recipientLastName);
                            contactsMetaData.set("studentUsername", recipientUsername);
                        }
                        else {
                            // send student info
                            contactsMetaData.set("studentId", currUser.id);
                            contactsMetaData.set("studentFirstName", currUser.get("FirstName"));
                            contactsMetaData.set("studentLastName", currUser.get("LastName"));
                            contactsMetaData.set("studentUsername", currUser.get("username"));

                            // send tutor info
                            contactsMetaData.set("tutorId", userlist[1]);
                            contactsMetaData.set("tutorFirstName", recipientFirstName);
                            contactsMetaData.set("tutorLastName", recipientLastName);
                            contactsMetaData.set("tutorUsername", recipientUsername);
                        }
                        contactsMetaData.save();
                    }
                },
                error : function(data) {
                    console.log('error, data = ' + data);
                }
            });
        }

        // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
        function generateUUID() {
            var d = new Date().getTime();
            if (window.performance && typeof window.performance.now === "function") {
                d += performance.now(); //use high-precision timer if available
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (d + Math.random() * 16) % 16 | 0;
                d = Math.floor(d / 16);
                return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
            return uuid;
        }

        $("#prof").click(function(e){
            document.location.href = "{{=URL('default', 'index')}}";
        });

        $("#searchTutor").click(function(e){
            document.location.href = "{{=URL('default', 'name_list')}}" + "/" + currUser.id;
        });

        $("#logoutbtn").click(function(e){
            Parse.User.logOut();
            document.location.href = "{{=URL('default', 'index')}}";
        });

        $("#send-message-btn").click(function(e){
            publish();
        });

        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13) {
                publish();
            }
        };

        function subscribe() {
            MAIN.nodes.message_list.scrollTop = MAIN.nodes.message_list.scrollHeight - MAIN.nodes.message_list.clientHeight;
            pubnub = PUBNUB({
                publish_key: 'pub-c-18ffe55c-a3d3-497d-8fee-426cd381796a',
                subscribe_key: 'sub-c-5d35003c-9258-11e5-9a49-02ee2ddab7fe'
            });

            var channel_name;
            // want to have channel be consistent, since this is a private chat
            // always have student id first, then tutor id
            if (currUser.get("isTutor")) {
                channel_name = '{{=recipient_id}}' + '{{=curr_user_id}}';
            }
            else {
                channel_name = '{{=curr_user_id}}' + '{{=recipient_id}}';
            }

            loadMessages();

            pubnub.subscribe({
                channel: channel_name,
                message: function (m) {
                    // make it scroll to bottom of div on load
                    MAIN.nodes.message_list.scrollTop = MAIN.nodes.message_list.scrollHeight - MAIN.nodes.message_list.clientHeight;
                    console.log("I am subscribing, m = " + m);
                    var userlist = ['{{=curr_user_id}}', '{{=recipient_id}}'];

                    var obj = {
                        "senderId": {
                            "$in": userlist
                        },
                        "recipientId": {
                            "$in": userlist
                        }
                    };

                    var query = encodeURIComponent('where='+ JSON.stringify(obj));

                    loadMessages();
                },

                error: function (error) {
                    // Handle error here, like retry until success, for example
                    console.log(JSON.stringify(error));
                }
            })
        }

        subscribe();

        function publish() {
            // make it scroll to bottom of div on load
            MAIN.nodes.message_list.scrollTop = MAIN.nodes.message_list.scrollHeight - MAIN.nodes.message_list.clientHeight;
            pubnub = PUBNUB({
                publish_key: 'pub-c-18ffe55c-a3d3-497d-8fee-426cd381796a',
                subscribe_key: 'sub-c-5d35003c-9258-11e5-9a49-02ee2ddab7fe'
            });

            var msg = $('#message-input').val();

            // want to have channel be consistent, since this is a private chat
            // always have student id first, then tutor id
            var channel_name;
            if (currUser.get("isTutor")) {
                channel_name = '{{=recipient_id}}' + '{{=curr_user_id}}';
            }
            else {
                channel_name = '{{=curr_user_id}}' + '{{=recipient_id}}';
            }

            setContactsLiist();

            pubnub.publish({
                channel: channel_name,
                message: msg,
                callback: function (m) {
                    console.log(m);
                    var ParseMessage = Parse.Object.extend("ParseMessage");
                    var parseMsg = new ParseMessage;

                    var d = new Date();
                    var n = d.toLocaleString();

                    // allows user to see messages they've received
                    var acl = new Parse.ACL();
                    acl.setPublicReadAccess(true);
                    acl.setPublicWriteAccess(false);
                    acl.setReadAccess('{{=recipient_id}}', true);
                    acl.setWriteAccess('{{=recipient_id}}', false);

                    parseMsg.set("messageText", msg);
                    parseMsg.set("senderId", '{{=curr_user_id}}');
                    parseMsg.set("recipientId", '{{=recipient_id}}');
                    parseMsg.set("senderName", currUserFullName);
                    parseMsg.set("channel", channel_name);
                    parseMsg.set("timestamp", n);
                    parseMsg.setACL(acl);

                    var UUID = generateUUID();
                    parseMsg.set("messageId", UUID);
                    $('#message-input').val("");
                    parseMsg.save();
                },
                error: function (error) {
                    // Handle error here, like retry until success, for example
                    console.log(JSON.stringify(error));
                }
            })
        }
        // loads messages every 10 seconds, in case a message from Android app is sent/received
        setInterval(loadMessages, 10000);
    });
</script>