{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="logout" class="btn-group">
    <a id="message" class="btn btn-primary">Messages</a>
    <a id="prof" class="btn btn-primary">Profile</a>
    <a id="logoutbtn" class="btn btn-primary">Log Out</a>
</div>

<div id="search" class="btn-group">
    <input id="searchtext" type="text">
    <a id="searchbtn" class="btn btn-primary">Search</a>
</div>

<table id="names">
    <tr>
        <th>Tutor Name</th>
        <th>Courses To Tutor</th>
        <th>Review</th>
        <th>Availability</th>
        <th>Location</th>
    </tr>
    {{for i in range(len(users.get("results"))):}}
    <tr>
        <td id="tutorName">{{=users.get("results")[i].get("FirstName")+" "+users.get("results")[i].get("LastName")}}</td>
        <td id="course"></td>
        <td id="review"></td>
        <td id="schedule"></td>
        <td id="location"></td>
    </tr>
    {{pass}}
</table>

<script type="text/javascript">
    Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");

    $("#searchbtn").click(function(e){
//        var query = new Parse.Query(Parse.User);
//        query.equalTo("username", $("#searchtext").val());
//        query.equalTo("isTutor", true);  // find all the women
//        query.find({
//            success: function(tutors) {
//                // Do stuff
//                $("#tutorName").html(tutors[0].get('FirstName') + " "+tutors[0].get('LastName'));
//            },
//            error: function(tutors, error){
//                alert(error.message);
//            }
//        });
    });


    $("#logoutbtn").click(function(e){
        Parse.User.logOut();
        document.location.href = "index";
    });
    $("#prof").click(function(e){
        document.location.href = "index";
    });
    $("#message").click(function(e){
        document.location.href = "messaging";
    });
    
//    $("#searchbtn").click(function(e){
//        var currUser = Parse.User.current();
//        var objectId = currUser.id;
//        // get text from input field
//        var searchUsername = $("#searchtext").val();
//
//        // start query
//        var query = new Parse.Query(Parse.User);
//        query.equalTo("isTutor", true);
//        query.equalTo("username", searchUsername);
//        query.notEqualTo("objectId", objectId);
//
//        query.find({
//            success: function (results) {
//                // results has the list of users that match the search criterion
//                $("#tutorName")[0].innerHTML = results[0].get('username');
//                console.log(results[0]);
//                for (var i = 0; i < results.length; i++) {
//                    var object = results[i];
//                    $("#tutorName")[0].innerHTML = object.get('username');
//                }
//            },
//            error: function (error) {
//                alert("Error: " + error.code + " " + error.message);
//            }
//        });
</script>