{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="target"></div>

<script id="template" type="text/ractive">
    <div id="notloggedin" class="hidethis">
        <span id="notloggedin"></span>
    </div>
    <div id="tutorlogged" class="hidethis">
        <span id="tutorlogged">I don't know how you got here, but you're a tutor! You can't search for other tutors, silly!!</span>
    </div>

    <div id="logout" class="btn-group hidethis">
        <a id="message" class="btn btn-primary">Messages</a>
        <a id="prof" class="btn btn-primary">Profile</a>
        <a id="logoutbtn" class="btn btn-primary">Log Out</a>
    </div>

    <div id="search" class="btn-group hidethis">
        <input id="searchtext" type="text" placeholder="i.e CMPS115">
        <a id="searchbtn" class="btn btn-primary">Search</a>
    </div>

    <table id="names" class="hidethis">
        <tr>
            <th>Tutor Name</th>
            <th>Courses To Tutor</th>
            <th>Review</th>
            <th>Availability</th>
        </tr>

        {% #if loading %}
            <div id="load_spinner">
                <i class="fa fa-spinner fa-pulse fa-4x"></i>
            </div>
        {% /if %}

        {% #tutor_list %}
        <tr id="list">
                <td id="tutorName">
                    <a id="previewbtn" class="btn btn-secondary" href="/WebUcscTutor/default/preview/{% objectId %}">
                        {% FirstName %} {% LastName %}
                    </a>
                </td>
                <td id="courses">
                    <a id="previewbtn" class="btn btn-secondary" href="/WebUcscTutor/default/preview/{% objectId %}">
                        {%webCourses%}
                    </a>
                </td>
            <td id="review"></td>
            <td id="schedule"></td>
        </tr>
        {% /tutor_list %}
    </table>

</script>

<script type="text/javascript">
    $(function() {
        Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");
        var currUser = Parse.User.current();
        var coursesToSearch;

        // Ractive object
        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                tutor_list: [],
                loading: false
            }
        });

        $("#searchbtn").click(function(e){
            coursesToSearch = $('#searchtext').val().toUpperCase();
            search();
        });

        document.onkeydown=function(evt){
            coursesToSearch = $('#searchtext').val().toUpperCase();
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13) {
                search();
            }
        };

        /*
         * goes through results from query
         * deletes (splices) any tutors that don't offer the specified course
         */
        function filterByCourses(data) {
            var i = data['results'].length;
            while (i--) {
                if ($.inArray(coursesToSearch, data['results'][i]['webCourses']) < 0) {
                    console.log(data['results'][i]['webCourses']);
                    data['results'].splice(i, 1);
                }
            }
        }

        function search(){
            MAIN.set('loading', true);
            var obj = {
                "objectId": {
                    "$ne": currUser.id
                 },
                "isTutor": true
            };

            var query = encodeURIComponent('where='+ JSON.stringify(obj));
            $.ajax({
                type: "GET",
                url: "https://api.parse.com/1/classes/_User?" + query,
                dataType: "json",
                headers: {
                    "X-Parse-Application-Id": "sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO",
                    "X-Parse-REST-API-Key": "4udDwLuCkvJLR09ypSp1xsgKKVwBDmncRSRBd24K"
                },
                success : function(data) {
                    filterByCourses(data);
                    MAIN.set('loading', false);
                    MAIN.set('tutor_list', data["results"]);
                },
                error : function(data) {
                    console.log('error, data = ' + data);
                }
            });
        }

        if (Parse.User.current() == null) {
            $("#notloggedin").removeClass("hidethis");
            $("#tutorlogged").addClass("hidethis");
            $("#logout").addClass("hidethis");
            $("#search").addClass("hidethis");
            $("#names").addClass("hidethis");
            setTimeout(function () {
                document.location.href = "/WebUcscTutor/default/index"
            }, 5000);
        }
        else if (Parse.User.current().get("isTutor")) {
            $("#tutorlogged").removeClass("hidethis");
            $("#notloggedin").addClass("hidethis");
            $("#logout").addClass("hidethis");
            $("#search").addClass("hidethis");
            $("#names").addClass("hidethis");
            setTimeout(function () {
                document.location.href = "/WebUcscTutor/default/index"
            }, 5000);
        }
        else {
            $("#notloggedin").addClass("hidethis");
            $("#tutorlogged").addClass("hidethis");
            $("#logout").removeClass("hidethis");
            $("#search").removeClass("hidethis");
            $("#names").removeClass("hidethis");

            var inactivityTime = function () {
                var t;
                window.onload = resetTimer;
                document.onmousemove = resetTimer;
                document.onkeypress = resetTimer;

                function logout() {
                    alert("Your Session has Timed Out!");
                    Parse.User.logOut();
                    document.location.href = "/WebUcscTutor/default/index";
                }

                function resetTimer() {
                    clearTimeout(t);
                    t = setTimeout(logout, 3600000);
                }
            };
            inactivityTime();

            $("#message").click(function (e) {
                document.location.href = "/WebUcscTutor/default/messaging" + "/" + currUser.id;
            });

            $("#logoutbtn").click(function (e) {
                Parse.User.logOut();
                document.location.href = "/WebUcscTutor/default/index";
            });
            $("#prof").click(function (e) {
                document.location.href = "/WebUcscTutor/default/index";
            });
        }
    });

</script>