{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</head>

<div id="target"></div>

<script id="template" type="text/ractive">
    <div id="emailnotverifed" class="hidethis">
        <span id="a">Please verify your email before you can start searching.</span>
    </div>
    <div id="notloggedin" class="hidethis">
        <span id="a">You haven't logged in yet! Please login or Sign Up!</span>
    </div>
    <div id="tutorlogged" class="hidethis">
        <span id="a">I don't know how you got here, but you're a tutor! You can't search for other tutors, silly!!</span>
    </div>

    <div id="logout" class="btn-group hidethis">
        <a id="prof" class="btn btn-primary"><i class="fa fa-home"></i></a>
        <a id="message" class="btn btn-primary">Messages</a>
        <a id="logoutbtn" class="btn btn-primary">Log Out</a>
    </div>

    <div id="search" class="btn-group hidethis">
        <input id="searchtext" type="text" placeholder="i.e CMPS115">
        <a id="searchbtn" class="btn btn-primary"><i class="fa fa-search"></i></a>
    </div>

    <table id="names" class="hidethis">
        <tr>
            <th>Tutor Name</th>
            <th>Courses To Tutor</th>
        </tr>

        {% #if loading %}
            <div id="load_spinner">
                <i class="fa fa-spinner fa-pulse fa-4x"></i>
            </div>
        {% /if %}

        {% #tutor_list %}
            <tr id="list">
                <td id="tutorName">
                    <a id="previewbtn" class="btn btn-secondary" href="{{=URL('default', 'preview')}}/{%objectId%}">
                        {% FirstName %} {% LastName %}
                    </a>
                </td>
                <td id="courses">
                    <a id="previewbtn" class="btn btn-secondary" href="{{=URL('default', 'preview')}}/{%objectId%}">
                        {%webCourses%}
                    </a>
                </td>
            </tr>
        {% /tutor_list %}
    </table>

</script>

<script type="text/javascript">
    $(function() {
        Parse.initialize("sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO", "MaOO36yKaoEH6bdOlVCnNsaBYAhMfxnGS8MhYrTv");
        var currUser = Parse.User.current();
        var coursesToSearch;

        // Ractive object
        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                tutor_list: [],
                loading: false
            }
        });

        // Searches for tutor when SEARCH button is pressed
        $("#searchbtn").click(function(e){
            coursesToSearch = $('#searchtext').val().toUpperCase();
            search();
        });

        // Searches for tutor when ENTER button is pressed (on keyboard)
        document.onkeydown=function(evt){
            coursesToSearch = $('#searchtext').val().toUpperCase();
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13) {
                search();
            }
        };

        /*
         * Function that searches for any tutors that tutor the specified course
         * What it does:
         *    Queries for all tutors using jQuery's ajax() function, along with Parse's REST API
         *    Filters through these tutors, cuts out any that don't offer the specified course
         */
        function search(){
            MAIN.set('loading', true);

            var obj = {
                "objectId": {
                    "$ne": currUser.id
                 },
                "isTutor": true
            };

            // Query we'd like to execute
            // What it's saying:
            //    Find all users that are tutors
            //    Just to be safe, we also make sure the two users don't share the same Object ID
            var query = encodeURIComponent('where='+ JSON.stringify(obj));
            $.ajax({
                type: "GET",
                url: "https://api.parse.com/1/classes/_User?" + query,
                dataType: "json",
                headers: {
                    "X-Parse-Application-Id": "sm3IJPOksqi4vIIN99wmppWnGWFZ0lvsVLNQ9VuO",
                    "X-Parse-REST-API-Key": "4udDwLuCkvJLR09ypSp1xsgKKVwBDmncRSRBd24K"
                },
                success : function(data) {
                    filterByCourses(data);
                    MAIN.set('loading', false);
                    MAIN.set('tutor_list', data["results"]);
                },
                error : function(data) {
                    console.log('error, data = ' + data);
                }
            });
        }

        /*
         * Goes through results from query
         * Deletes (splices) any tutors that don't offer the specified course
         */
        function filterByCourses(data) {
            var i = data['results'].length;
            while (i--) {
                if ($.inArray(coursesToSearch, data['results'][i]['webCourses']) < 0) {
                    console.log(data['results'][i]['webCourses']);
                    data['results'].splice(i, 1);
                }
            }
        }

        if (currUser == null) { // if user isn't logged in yet, then hide everything except for the text and redirect them.
            $("#notloggedin").removeClass("hidethis");
            $("#tutorlogged").addClass("hidethis");
            $("#logout").addClass("hidethis");
            $("#search").addClass("hidethis");
            $("#names").addClass("hidethis");
            setTimeout(function () {
                document.location.href = "{{=URL('default', 'index')}}/" + currUser.id;
            }, 3000);
        }
        // if user is a tutor then hide everything except a text. A tutor can't search for other tutors.
        else if (currUser.get("isTutor")) {
            $("#tutorlogged").removeClass("hidethis");
            $("#notloggedin").addClass("hidethis");
            $("#logout").addClass("hidethis");
            $("#search").addClass("hidethis");
            $("#names").addClass("hidethis");
            setTimeout(function () {
                document.location.href = "{{=URL('default', 'index')}}";
            }, 3000);
        }
        else if(currUser.get("emailVerified")){
            $("#logout").removeClass("hidethis");
            $("#names").removeClass("hidethis");
            $("#emailnotverifed").addClass("hidethis");
        }
        else if(!currUser.get("emailVerified")){
            $("#logout").addClass("hidethis");
            $("#names").addClass("hidethis");
            $("#emailnotverifed").removeClass("hidethis");
            setTimeout(function(){
                document.location.href = "{{=URL('default', 'index')}}";
            }, 3000);
        }
        else { // if user is logged in and is a student then show the search layout and hide the texts
            $("#notloggedin").addClass("hidethis");
            $("#tutorlogged").addClass("hidethis");
            $("#logout").removeClass("hidethis");
            $("#search").removeClass("hidethis");
            $("#names").removeClass("hidethis");

            // function for if a user is inactive.
            var inactivityTime = function () {
                var t;
                window.onload = resetTimer;
                document.onmousemove = resetTimer;
                document.onkeypress = resetTimer;

                function logout() {
                    alert("Your Session has Timed Out!");
                    Parse.User.logOut();
                    document.location.href = "{{=URL('default', 'index')}}/";
                    //document.location.href = "/WebUcscTutor/default/index";
                }

                function resetTimer() {
                    clearTimeout(t);
                    t = setTimeout(logout, 3600000);
                }
            };
            inactivityTime();

            // message history button
            $("#message").click(function (e) {
                document.location.href = "{{=URL('default', 'messaging')}}/" + currUser.id;
            });

            // logout button
            $("#logoutbtn").click(function (e) {
                Parse.User.logOut();
                document.location.href = "{{=URL('default', 'index')}}";
            });

            // home button
            $("#prof").click(function (e) {
                document.location.href = "{{=URL('default', 'index')}}";
            });
        }
    });

</script>