/* line 1, ../sass/_main.scss */
table#names {
  width: 100%;
}

/* line 5, ../sass/_main.scss */
#searchtext {
  padding: 9.5px 15px;
}

/* line 8, ../sass/_main.scss */
#searchbtn {
  float: right;
}

/* line 12, ../sass/_main.scss */
.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 20, ../sass/_main.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

/* line 24, ../sass/_main.scss */
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

/* line 29, ../sass/_main.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

/* line 33, ../sass/_main.scss */
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

/* line 38, ../sass/_main.scss */
.navbar.navbar-inverse.navbar-fixed-top {
  background: #204d76;
}

/* line 42, ../sass/_main.scss */
.col-xs-4 {
  float: none;
}

/* line 46, ../sass/_main.scss */
form#form_login {
  margin: auto;
}

/* line 50, ../sass/_main.scss */
#tutorsignup {
  width: 227px;
}

/* line 53, ../sass/_main.scss */
#studentsignup {
  width: 228px;
}
