/* line 1, ../sass/_main.scss */
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 7, ../sass/_main.scss */
table#names {
  width: 100%;
}

/* line 11, ../sass/_main.scss */
td, th {
  padding: 5px;
}

/* line 15, ../sass/_main.scss */
tr {
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0) scale(0.95, 0.95);
}
/* line 20, ../sass/_main.scss */
tr:hover {
  background-color: #959595;
  color: #2546BC;
}

/* line 26, ../sass/_main.scss */
#searchtext {
  padding: 9.5px 15px;
}

/* line 29, ../sass/_main.scss */
#searchbtn {
  float: right;
}

/* line 32, ../sass/_main.scss */
#logout {
  float: right;
}

/* line 36, ../sass/_main.scss */
#searchTutor, #editprof, #logoutbtn, #prof {
  -moz-box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
  -webkit-box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
  box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
}

/* line 40, ../sass/_main.scss */
.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 48, ../sass/_main.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

/* line 52, ../sass/_main.scss */
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

/* line 57, ../sass/_main.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

/* line 61, ../sass/_main.scss */
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

/* line 66, ../sass/_main.scss */
.navbar.navbar-inverse.navbar-fixed-top {
  background: #204d76;
}

/* line 70, ../sass/_main.scss */
.col-xs-4 {
  float: none;
}

/* line 74, ../sass/_main.scss */
form#form_login {
  margin: auto;
  padding: 3%;
  border: 1px solid #007299;
  -moz-box-shadow: rgba(51, 166, 204, 0.7) 0 0px 4px 0px;
  -webkit-box-shadow: rgba(51, 166, 204, 0.7) 0 0px 4px 0px;
  box-shadow: rgba(51, 166, 204, 0.7) 0 0px 4px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 82, ../sass/_main.scss */
#signupbtns {
  width: 100%;
  display: inline-flex;
}

/* line 89, ../sass/_main.scss */
#profilepic, #editprofilepic {
  width: 200px;
}

/* line 93, ../sass/_main.scss */
#pic {
  max-width: 30%;
}

/* line 97, ../sass/_main.scss */
#profile {
  border: 1px solid #7f7f7f;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0px 4px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0px 4px 0px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
  float: left;
}

/* line 105, ../sass/_main.scss */
#name, #biolabel, #courselabel {
  font-size: 23pt;
  color: #16268b;
}

/* line 109, ../sass/_main.scss */
#username {
  padding-left: 4%;
  font-size: 23pt;
  color: #16268b;
}

/* line 114, ../sass/_main.scss */
#bio {
  padding-left: 4%;
  font-size: 15pt;
  color: #1c3bd1;
}

/* line 119, ../sass/_main.scss */
#editbio {
  margin-left: 4%;
  font-size: 15pt;
  color: #1c3bd1;
}

/* line 125, ../sass/_main.scss */
#inputbio {
  width: 844px;
  height: 95px;
  margin-left: 4%;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

/* line 134, ../sass/_main.scss */
#message_list {
  overflow-y: auto;
  margin-top: 2%;
  height: 370px;
  width: 100%;
}

/* line 141, ../sass/_main.scss */
#message-container {
  min-height: 75px;
  vertical-align: text-bottom;
  -moz-box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
  -webkit-box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
  box-shadow: rgba(0, 86, 159, 0.7) 0 0px 4px 0px;
}

/* line 147, ../sass/_main.scss */
#message-input {
  overflow-y: hidden;
  resize: none;
  margin-top: 1%;
  position: fixed;
  height: 38px;
  width: 89%;
}

/* line 156, ../sass/_main.scss */
#send-message-btn {
  float: right;
  margin-top: 1%;
  height: 38px;
  width: 80px;
}
