/* line 1, ../sass/_main.scss */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #2574A9;
}

/* line 8, ../sass/_main.scss */
table#names {
  width: 100%;
}

/* line 12, ../sass/_main.scss */
td, th {
  padding: 5px;
}

/* line 15, ../sass/_main.scss */
th {
  background: #808080;
  color: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0px 0px;
}

/* line 32, ../sass/_main.scss */
#searchtext {
  padding: 9.5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  height: 40px;
}

/* line 37, ../sass/_main.scss */
#searchbtn {
  float: right;
}

/* line 40, ../sass/_main.scss */
#logout {
  float: right;
  padding: 0 1% 1% 1%;
}

/* line 45, ../sass/_main.scss */
.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* line 52, ../sass/_main.scss */
.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
}

/* line 61, ../sass/_main.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

/* line 65, ../sass/_main.scss */
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

/* line 70, ../sass/_main.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

/* line 74, ../sass/_main.scss */
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

/* line 79, ../sass/_main.scss */
.navbar.navbar-inverse.navbar-fixed-top {
  background: #204d76;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 4px;
}

/* line 84, ../sass/_main.scss */
.btn-success {
  background: #00B16A;
  color: #fff;
}

/* line 89, ../sass/_main.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  background: #3FC380;
}

/* line 93, ../sass/_main.scss */
.btn-success:active, .btn-success.active {
  background: #26A65B;
  box-shadow: none;
}

/* line 98, ../sass/_main.scss */
.btn-danger {
  background: #D91E18;
  color: #fff;
}

/* line 103, ../sass/_main.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #C0392B;
}

/* line 107, ../sass/_main.scss */
.btn-danger:active, .btn-danger.active {
  background: #96281B;
  box-shadow: none;
}

/* line 112, ../sass/_main.scss */
.col-xs-4 {
  float: none;
}

/* line 116, ../sass/_main.scss */
form#form_login {
  padding: 3%;
  margin: auto auto 6% auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

/* line 124, ../sass/_main.scss */
#signupbtns {
  width: 100%;
  display: inline-flex;
}

/* line 129, ../sass/_main.scss */
#profilepic, #editprofilepic {
  width: 200px;
}

/* line 133, ../sass/_main.scss */
#pic {
  max-width: 30%;
}

/* line 137, ../sass/_main.scss */
#profile {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  overflow: hidden;
  float: left;
  margin: 2% 1% 1%;
}

/* line 146, ../sass/_main.scss */
#name, #biolabel, #courselabel {
  font-size: 23pt;
  color: #1e8bc3;
}

/* line 150, ../sass/_main.scss */
#name {
  float: left;
  padding-right: 1%;
}

/* line 154, ../sass/_main.scss */
#username {
  font-size: 92%;
  color: #59abe3;
  padding-top: 2.5%;
}

/* line 159, ../sass/_main.scss */
#bio {
  padding-left: 4%;
  font-size: 15pt;
  color: #22a7f0;
}

/* line 165, ../sass/_main.scss */
#editbio {
  padding-left: 4%;
  font-size: 15pt;
  color: #22a7f0;
  cursor: pointer;
}

/* line 172, ../sass/_main.scss */
#course {
  padding-left: 30%;
  margin-left: 30%;
  font-size: 15pt;
  color: #22a7f0;
  cursor: pointer;
}

/* line 180, ../sass/_main.scss */
#coursed {
  padding-left: 30%;
  margin-left: 30%;
  font-size: 15pt;
  color: #22a7f0;
}

/* line 187, ../sass/_main.scss */
#inputbio {
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

/* line 195, ../sass/_main.scss */
#inputcourses {
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

/* line 203, ../sass/_main.scss */
#deletecourses {
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

/* line 211, ../sass/_main.scss */
#message_list {
  overflow-y: auto;
  height: 370px;
  margin-left: -0.8%;
  width: 101.3%;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 4px 8px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 4px 8px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 4px 8px 4px;
  background: #fff;
}

/* line 220, ../sass/_main.scss */
#message-container {
  min-height: 75px;
  vertical-align: text-bottom;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px 0px;
  padding: 1%;
}

/* line 226, ../sass/_main.scss */
#message-input {
  overflow-y: hidden;
  resize: none;
  height: 45px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
}

/* line 233, ../sass/_main.scss */
#input-area {
  margin-top: 1%;
  margin-bottom: 6%;
}

/* line 238, ../sass/_main.scss */
#send-message-btn {
  height: 45px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 1px;
}

/* line 243, ../sass/_main.scss */
#editpic {
  color: #747474;
}
/* line 245, ../sass/_main.scss */
#editpic:hover {
  color: #393939;
}

/* line 250, ../sass/_main.scss */
#userInfo {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 3px 8px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 3px 8px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 3px 8px 2px;
  min-height: 300px;
  background: #fff;
  padding: 1%;
  margin: 4.5% 27% 6% 22%;
}

/* line 258, ../sass/_main.scss */
#list {
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px 0px;
  background: #fff;
}

/* line 263, ../sass/_main.scss */
#home {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 8px 2px;
  background: #fff;
  padding: 0% 1% 20% 1%;
}

/* line 269, ../sass/_main.scss */
.hidethis {
  display: none;
}

/* line 273, ../sass/_main.scss */
#load_spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

/* line 280, ../sass/_main.scss */
#load_spinners {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

/* line 287, ../sass/_main.scss */
#tutorlogged, #notloggedin, #loggedin {
  color: #fff;
}

/* line 291, ../sass/_main.scss */
#studentsignup, #tutorsignup {
  font-size: 79%;
}
