body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: #2574A9;
}

table#names{
  width: 100%;
}

td, th{
  padding: 5px;
}
th{
  background: #808080;
  color: #fff;
  @include box-shadow(rgba(#000,0.5) 0 2px 0px 0px);
}

tr{
  //transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  //transform: translateY(0) scale(0.95, 0.95);
  ////@include box-shadow(rgba(#000,0.7) 0 0px 4px 0px);
  ////@include border-radius(5px);
  //&:hover{
  //  background-color: #959595;
  //  color: #2546BC;
  //}
}

#searchtext{
  padding: 9.5px 15px;
  @include box-shadow(rgba(#000,0.7) 0 1px 1px 0px);
  height:40px;
}
#searchbtn{
  float: right;
}
#logout{
  float:right;
  padding: 0 1% 1% 1%;
}

.container-fluid{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include box-shadow(rgba(#000,0.7) 0 1px 1px 0px);
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background: #204d76;
  @include box-shadow(rgba(#000,0.5) 0 4px 8px 4px);
}

.btn-success{
  background: #00B16A;
  color: #fff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  background: #3FC380;
}

.btn-success:active, .btn-success.active {
  background: #26A65B;
  box-shadow: none;
}

.btn-danger{
  background: #D91E18;
  color: #fff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #C0392B;
}

.btn-danger:active, .btn-danger.active {
  background: #96281B;
  box-shadow: none;
}

.col-xs-4{
  float: none;
}

form#form_login {
  padding: 3%;
  margin: auto auto 6% auto;
  @include box-shadow(rgba(#000,0.5) 3px 5px 8px 2px);
  @include border-radius(10px);
  background: #fff;
}

#signupbtns{
  width: 100%;
  display:inline-flex;
}

#profilepic, #editprofilepic{
  width:200px;
}

#pic{
  max-width: 30%;
}

#profile{
  //border: 1px solid #7f7f7f;
  @include box-shadow(rgba(#000,0.5) 3px 5px 8px 2px);
  //@include border-radius(25px);
  overflow: hidden;
  float: left;
  margin: 2% 1% 1%;
}

#name, #biolabel, #courselabel{
  font-size: 23pt;
  color: rgb(30, 139, 195);
}
#name{
  float:left;
  padding-right: 1%;
}
#username{
  font-size: 92%;
  color: rgb(89, 171, 227);
  padding-top: 2.5%;
}
#bio{
  padding-left: 4%;
  font-size: 15pt;
  color: rgb(34, 167, 240);
}

#editbio{
  padding-left: 4%;
  font-size: 15pt;
  color: rgb(34, 167, 240);
  cursor: pointer;
}

#course{
  padding-left: 30%;
  margin-left: 30%;
  font-size: 15pt;
  color: rgb(34, 167, 240);
  cursor: pointer;
}

#coursed{
  padding-left: 30%;
  margin-left: 30%;
  font-size: 15pt;
  color: rgb(34, 167, 240);
}

#inputbio{
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

#inputcourses{
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

#deletecourses{
  width: 106%;
  height: 100px;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

#message_list{
  overflow-y: auto;
  height: 370px;
  margin-left: -0.8%;
  width: 101.3%;
  @include box-shadow(rgba(#000,0.5) 1px 4px 8px 4px);
  background: #fff;
}

#message-container{
  min-height: 75px;
  vertical-align: text-bottom;
  @include box-shadow(rgba(#000,0.5) 0 1px 1px 0px);
  padding: 1%;
}
#message-input{
  overflow-y: hidden;
  resize: none;
  height: 45px;
  @include box-shadow(rgba(#000,0.5) 0px 4px 8px 1px);
}

#input-area{
  margin-top: 1%;
  margin-bottom: 6%;
}

#send-message-btn{
  height: 45px;
  @include box-shadow(rgba(#000,0.5) 0px 4px 8px 1px);
}

#editpic{
  color: #747474;
  &:hover{
    color: #393939;
  }
}

#userInfo{
  @include box-shadow(rgba(#000,0.5) 5px 3px 8px 2px);
  min-height: 300px;
  background: #fff;
  padding: 1%;
  margin: 4.5% 27% 6% 22%;
}

#list, #temp{
  @include box-shadow(rgba(#000,0.7) 0 1px 1px 0px);
  background: #fff;
}

#home{
  @include box-shadow(rgba(#000,0.5) 3px 5px 8px 2px);
  background: #fff;
  padding: 0% 1% 20% 1%;
}

.hidethis{
  display: none;
}

#load_spinner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

#load_spinners{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

#tutorlogged, #notloggedin, #loggedin{
  color: #fff;
}

#studentsignup, #tutorsignup{
  font-size: 79%;
}