body{
  height: 100%;
  width: 100%;
  margin: 0;
}

table#names{
  width: 100%;
}

td, th{
  padding: 5px;
}

tr{
  transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translateY(0) scale(0.95, 0.95);
  //@include box-shadow(rgba(#000,0.7) 0 0px 4px 0px);
  //@include border-radius(5px);
  &:hover{
    background-color: #959595;
    color: #2546BC;
  }
}

#searchtext{
  padding: 9.5px 15px;
}
#searchbtn{
  float: right;
}
#logout{
  float:right;
}

#searchTutor, #message, #editprof, #logoutbtn, #prof{
  @include box-shadow(rgba(#00569f,0.7) 0 0px 4px 0px);
}

.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background: #204d76;
}

.col-xs-4{
  float: none;
}

form#form_login {
  margin: auto;
  padding: 3%;
  border: 1px solid #007299;
  @include box-shadow(rgba(#33a6cc,0.7) 0 0px 4px 0px);
  @include border-radius(10px);
}

#signupbtns{
  //margin-left: 25%;
  //margin-right: 35%;
  width: 100%;
  display:inline-flex;
}

#profilepic, #editprofilepic{
  width:200px;
}

#pic{
  max-width: 30%;
}

#profile{
  border: 1px solid #7f7f7f;
  @include box-shadow(rgba(#000,0.7) 0 0px 4px 0px);
  @include border-radius(25px);
  overflow: hidden;
  float: left;
}

#name, #biolabel, #courselabel{
  font-size: 23pt;
  color: #16268b;
}
#username{
  padding-left: 4%;
  font-size: 23pt;
  color: #16268b;
}
#bio,{
  padding-left: 4%;
  font-size: 15pt;
  color: #1c3bd1;
}
#editbio{
  margin-left: 4%;
  font-size: 15pt;
  color: #1c3bd1;
}

#inputbio{
  width: 844px;
  height: 95px;
  margin-left: 4%;
  font-size: 15pt;
  overflow-y: hidden;
  resize: none;
}

#messages{
  overflow-y: auto;
  margin-top: 2%;
  height: 370px;
  width: 100%;
}

#message-input{
  overflow-y: hidden;
  resize: none;
  margin-top: 1%;
  position: fixed;
  height: 38px;
  width: 89%;
}

#send-message-btn{
  float: right;
  margin-top: 1%;
  height: 38px;
  width: 80px;
}