table#names{
  width: 100%;
}

#searchtext{
  padding: 9.5px 15px;
}
#searchbtn{
  float: right;
}
#logoutbtn{
  float:right;
}
.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background: #204d76;
}

.col-xs-4{
  float: none;
}

form#form_login {
  margin: auto;
}

#signupbtns{
  margin-left: 35px;
}